@model ICollection<TournamentViewModel>

@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "All Event";
}

@{
    var userId = User.GetId();
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name of Tournament</th>
            <th scope="col">Date of creation</th>
            @*<th scope="col">Creator</th>*@
            <th scope="col">Tournament positions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td scope="col">@tournament.Name</td>
                <td scope="col">@tournament.CreationData</td>
                @*<td scope="col">@tournament.</td>*@
                <td scope="col">@tournament.SchemaLenght</td>
                <td scope="col">
                    <a asp-controller="Event" asp-action="Info" asp-route-id="@tournament.Id" class="btn btn-info">Info</a> 
                    @if (string.Compare(userId, @tournament.UserId) == 0)
                    {
                         <a asp-controller="" asp-action="" asp-route-id="" class="btn btn-success">Edit</a>
                         <a asp-controller="Event" asp-action="Delete" asp-route-id="@tournament.Id" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>