@using MiniFootballStatistic.Models.Tournament.TurnamentEdit
@model TournamentEditModel

@{
    ViewData["Title"] = "Edit Event";
}

@{
    var userId = User.GetId();
}

@{
    Dictionary<int, string> dictPosition = new Dictionary<int, string>()
    {
        {1, "md-start"}, {2, "md-center"}, {3, "md-end"},
    };

    int dictCounter = 1;
    int teamsInEvent =@Model.SchemaLenght;
    int counter = @Model.Levels;
    int colCounter = 1;
    int groupCounter = 1;
    int modelPosition = 0;
}

@if (string.Compare(userId, @Model.UserId) == 0)
{
    <form method="Post" class="form-floating">
        <div class="container">
            <div class="row">
                @for (var i = 0; i < counter; i++)
                {
                    teamsInEvent /= 2;
                    <div class="col-md-2 align-self-@(dictPosition[dictCounter])">

                        @for (var j = 0; j < teamsInEvent; j++)
                        {
                            @if (i == 1)
                            {
                                <div style="margin: 200px"></div>
                            }

                            @if (i == 2)
                            {
                                <div style="margin: 400px"></div>
                            }
                            @if (i == 3)
                            {
                                <div style="margin: 600px"></div>
                            }

                            <div class="form-group row-2 border border-secondary" style="margin-top: 10px">
                                <h5 style="text-align:center;">Group @groupCounter</h5>

                                <div class="d-flex flex-row bd-highlight mb-3 ">
                                    <div class="row" style="margin: 5px;">
                                        <label asp-for="@Model.Teams[modelPosition].Name"> Team Name </label>
                                        <input onchange="getValue(event, @Model.Id, @Model.Teams[modelPosition].Id)" id="Name-@Model.Teams[modelPosition].Id" value="@Model.Teams[modelPosition].Name">
                                        <label asp-for="@Model.Teams[modelPosition].PositionResult"> Scored goals </label>
                                        <input onchange="getResult(event, @Model.Id, @Model.Teams[modelPosition].Id)" id="Velue-@Model.Teams[modelPosition].Id"  value="@Model.Teams[modelPosition].PositionResult">
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="row" style="margin: 5px;">
                                        <label asp-for="@Model.Teams[modelPosition + 1].Name"> Team Name </label>
                                        <input onchange="getValue(event, @Model.Id, @Model.Teams[modelPosition + 1].Id)" id="Name-@Model.Teams[modelPosition + 1].Id" value="@Model.Teams[modelPosition + 1].Name">
                                        <label asp-for="@Model.Teams[modelPosition + 1].PositionResult"> Scored goals </label>
                                        <input onchange="getResult(event, @Model.Id, @Model.Teams[modelPosition + 1].Id)" id="Velue-@Model.Teams[modelPosition + 1].Id" value="@Model.Teams[modelPosition + 1].PositionResult">
                                    </div>
                                </div>
                            </div>

                            groupCounter++;
                            modelPosition += 2;                            
                        }

                    </div>
                    colCounter++;
                }
                
            </div>
        </div>        
    </form>
}
@section Scripts{
    <script>
        function getValue(e, tournamentId, teamId) {
            e.preventDefault();             
           
            let teamName = document.getElementById("Name-"+teamId).value;
            
            let model = {TournamentId: tournamentId, TeamId: teamId, TeamName: teamName};

            $.ajax({
                type: "POST",
                url: "/api/TeamName",
                data: JSON.stringify(model),
                success: function (data) {
                   console.log("We are in the game!!!")
                },
                contentType: 'application/json'
              });            
        }

        function getResult(e, tournamentId, teamId) {
            e.preventDefault();

            let goals = document.getElementById("Velue-"+teamId).value;
            
            let model = {TournamentId: tournamentId, TeamId: teamId, Goals: goals};

            $.ajax({
                type: "POST",
                url: "/api/Result",
                data: JSON.stringify(model),
                success: function (data) {
                   console.log("We are in the game!!!")
                },
                contentType: 'application/json'
              });            
        }
    </script>
}



