@model InfoViewModel

@{
    ViewData["Title"] = "Info Event";
}

@{
    var userId = User.GetId();
}

@{
    int modelPosition = 0;
    int counter = @Model.Levels;
    int idInHTML = 1;
    int teamsInEvent = @Model.ShcemaLength;   
}

<main class="conteiner" id="tournament" >

    @for (var i = 0; i < counter; i++)
    {
        teamsInEvent /= 2;

        <ul class="round round-@(i + 1)">

            @for (var j = 0; j < teamsInEvent; j++)
            {
                <li class="spacer">&nbsp;</li>
                <li class="game game-top ">@(Model.Teams[modelPosition].Name) <span>@(Model.Teams[modelPosition].PositionResult)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">@(Model.Teams[modelPosition + 1].Name) <span>@(Model.Teams[modelPosition + 1].PositionResult)</span></li>
                idInHTML += 2;
                modelPosition += 2;
                if (j + 1 == teamsInEvent)
                {
                    <li class="spacer">&nbsp;</li>
                }
            }
        </ul>
    }

    <i class="far fa-trophy"></i>

    <div class="container">
        <div class="row">
            <div class="col offset-xl-3">
                <table class="table table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Scored Goals</th>
                        <th scope="col">Accumolate Goals</th>
                        <th scope="col">Diference</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var team in Model.Teams.Take(Model.ShcemaLength).OrderByDescending(
                        t => t.ScoredGoals - t.AccumolateGoals).ThenBy(t => t.ScoredGoals))
                    {                       
                        <tr>
                            <td scope="col">@team.Name</td>
                            <td scope="col">@team.ScoredGoals</td>
                            <td scope="col">@team.AccumolateGoals</td>
                            <td scope="col">@(team.ScoredGoals - team.AccumolateGoals)</td>
                        </tr>                       
                    }
                </tbody>
            </table>

            <a asp-controller="Player" asp-action="Info" asp-route-tournamentId="@Model.Id" class="btn btn-secondary btn-sm">Players statistic</a>
            
        </div>
    </div>
</main>



