@model List<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="conteiner">
    <div class="row">
        <div class="col" style="display: flex;">            
                <div class="card text-center" >
                <div class="card-header">
                    Featured
                </div>
                <img src="@Model[0].ImageUrl" class="card-img-top hoverable">
                <div class="card-body bg-image hover-zoom">
                    <h5 class="card-title">@Model[0].Name</h5>
                    <p class="card-text">@Model[0].Descrioption.Substring(0, 40)...</p>
                    <a asp-controller="Tournament" asp-action="FirstStep" class="btn btn-primary">Create</a>
                </div>
                <div class="card-footer text-muted">
                    @DateTime.Now.ToString("dd.MM.yyyy")
                </div>
            </div>
             <div class="card text-center" >
                <div class="card-header">
                    Featured
                </div>
                <img src="@Model[1].ImageUrl" class="card-img-top hoverable">
                <div class="card-body bg-image hover-zoom">
                    <h5 class="card-title">@Model[1].Name</h5>
                    <p class="card-text">@Model[1].Descrioption.Substring(0, 40)...</p>
                    <a asp-controller="Home" asp-action="Unavailable" class="btn btn-primary">Create</a>
                </div>
                <div class="card-footer text-muted">
                    @DateTime.Now.ToString("dd.MM.yyyy")
                </div>
            </div>  
        </div>
    </div>
</div>
