@model TournamentPostModel

@{
    ViewData["Title"] = "Tournament SecondStep";
} 

<div class="container">
    <h1 style="margin-top: 50px; margin-bottom: 50px;">Wellcome to second part.</h1>
    <div class="row">
        <div class="col-4">           
            <form method="Post">
                <h1>Tournament Name</h1>
                <div class="form-group" style="margin: 20px;">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Tournament Name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    @for (var i = 0; i < Model.TournamentPositions; i++)
                    {
                        <div class="form-group" style="margin: 40px;" >
                            <label asp-for="@Model.Teams[i].Name"></label>
                            <input asp-for="@Model.Teams[i].Name" class="form-control" placeholder="Team @(i+1) name">
                            <span asp-validation-for="@Model.Teams[i].Name" class="small text-danger"></span>
                        
                            <label asp-for="@Model.Teams[i].TournamentPosition"></label>
                            <input asp-for="@Model.Teams[i].TournamentPosition" class="form-control" value ="@(i+1)" >
                            <span asp-validation-for="@Model.Teams[i].TournamentPosition" class="small text-danger"></span>
                        </div>
                    }
                </div>
                <button type="submit" style="margin-bottom: 50px;" class="btn btn-primary mt-4">Save Tournament with teams</button>
            </form>
        </div>
    </div>
</div>